@media (min-width: 992px) {
    .bump-up {
        position: relative;
        top: -40px;
    }
}



@media (min-width: 768px) {
    .up-fifty {
        position: relative;
        bottom: 50px;
    }
}

@media (min-width: 768px) {
    .up-twenty {
        position: relative;
        bottom: 20px;
    }
}

@media (max-width: 768px){
    .m-top {
        margin-top: 60px;
    }
    .m-top-small {
        margin-top:32px;
    }
}

@media (max-width: 768px){
    .active {
       padding-bottom: 24px;
    }
}

@media (max-width: 767px) {
    .fe-block-a2c7c62f9dfecdc9d3e9 {
      grid-area: 1/6/2/10 !important;
    }
  }

  @media (min-width: 768px) {
    .fe-block-10cfe91445be32035ed9 {
        grid-area: 12 / 20 / 14 / 26 !important;
    }
}

.sqs-block-html {
  background-color: transparent;
}

.fe-block {
    background-color: transparent;
}
